.main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      section{
        width: 98vw;
        height: 94vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3vw;
        padding-top: 3vw;
        background-color: #778BA4;
        border-radius: 1vw;
        color: #DBEBFB;
        width: 400px;
        height: 400px;
      }
      .div_input{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
      }
      input{
        border: 1px solid white;
        border-radius: 20px;
        color: #DBEBFB;
        padding: 1vw;
        
        font-family: 'Comfortaa';
      }
      button{
        background: none;
        color: #DBEBFB;
        border: 1px solid white;
        padding: 1vw;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        font-family: 'Comfortaa';

      }
      h1{
        color: #323C45;
        font-size: 30px;
        font-family: 'Comfortaa';

      }
      p{
        color: #323C45;
        font-size: 15px;
        font-family: 'Comfortaa';
        text-align: center;
      }
      label{
        font-family: 'Comfortaa';
      }
      body{
        overflow-x: hidden;
      }
      @media screen and (min-width: 375px) and (max-width: 767px){
        *{
          overflow-x: hidden;
        }
        h1{
          font-size: 18px;
        }
        label{
          font-size: 15px;
        }
        form{
          width: 250px;
          height:300px;
          gap: 30px;
          padding: 10px;
        }
        input{
          font-size: 12px;
        }
        button{
          font-size: 15px;
          padding: 5px;
        }
        p{
          font-size: 10px;
          text-align: center;
        }
      }